body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  text-align: center;
}

h1 {
  font-size: 36px;
  color: #333;
}

#combinations-container {
  font-size: 24px;
  color: #333;
  margin: 20px;
}

#next-btn {
  font-size: 24px;
  background-color: #f6e58d;
  color: #333;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
  border-radius: 10px;
}

